.Users {
 margin-top: 25px;
}
.UsersTable {
  margin: 20px;
}
.UsersSearch {
  float: left;
  margin: 20px;
}
.ClearFilter {
  position: absolute;
  margin-left: 15px;
}
.SearchBar {
  margin-left: 20px;
  padding-bottom: 10px;
}
.FilterDateCal {
  margin-left: 20px;
}
.AddButton {
  float: right;
  margin-right: 20px;
}
.AlignCenter {
  text-align: center;
}